header {
  background-color: #bca37f;
  box-shadow: 0 2px 10px rgba(78, 108, 80, 0.5);
  box-sizing: border-box;
}

header .Navbar {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 150px;
}

header a {
  color: #820000;

  font-family: "Shadows Into Light", cursive;
  text-decoration: none;
  font-weight: 800;
}
.Navbar .CreateRecipeLink {
  font-size: 1.25rem;
  width: 5%;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #4e6c50;
  min-width: 45px;
}
.Navbar .CreateRecipeLink a {
  /* width: 100%; */
  padding: 5px;
  /* font-size: 1.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

header .Searchlinks {
  justify-content: space-between;

  border-radius: 10px;
  text-align: center;

  border: 1px solid #4e6c50;
}

header .Searchlinks a {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.logo img {
  margin-top: -35px;
  margin-right: 50px;
  width: 180px;
  height: 120px;
}
